<div
  class="bg-gray-100 min-h-screen flex justify-center items-center body-design"
>
  @if(user){
  <div class="bg-white p-6 rounded-lg shadow-md min-w-80 min-h-96">
    <div class="flex justify-center">
      <img
        class="h-20 w-20 rounded-full"
        [src]="user.profileImage"
        alt="Profile Picture"
      />
    </div>
    <!-- <form (submit)="uploadProfileImage($event, user._id)" enctype="multipart/form-data">
  <input type="file" accept="image/*" (change)="onFileSelected($event)" name="profileImage"  />
  <button type="submit" class="bg-black text-cyan-50">Upload Profile Image</button>
</form> -->
  
    <div class="text-center mt-4">
      <h1 class="text-2xl font-bold">{{ user.name }}</h1>
      <!-- <p class="text-gray-500">Web Developer</p> -->
    </div>

    <div class="mt-6">
      <ul>
        <li class="flex items-center mb-2 gap-2 font-semibold">
          <span class="">Email: </span>
          <span class="text-gray-700">{{ user.email }}</span>
        </li>
        <li class="flex items-center mb-2 gap-2 font-semibold">
          <span>Phone number: </span>
          <span class="text-gray-700">{{ user.phoneNumber }}</span>
        </li>
      </ul>
    </div>
    
    <div class="mt-12 justify-center flex gap-3">
      <p
        class="bg-black hover:to-gray-600 text-white font-semibold py-2 px-4 rounded-full"
         (click)="editProfile(user._id)"
        >
        Edit Profile
      </p>
      <button
        class="bg-gray-500 hover:bg-black text-white font-semibold py-2 px-4 rounded-full"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
}
</div>
